#divPrincipal {
  margin: 0 auto;
  width: 90%;
}
.a {
  margin: 0 30px;
  background: #09afca;
  border-radius: 100%;
  color: white;
  text-decoration: none;
}

.header {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: center;
}

#parrafoConFoto {
}

#parrafito1 {
  color: white;
}
#fotito1 {
 
                    
}

html {
  height: 100%;
}
body {
  background-color: #011535;
  min-height: 100%;
}




#h1 {
  box-shadow: 0 0 15px 10px #09afca;
  border-radius: 10px 10px;
  color: rgb(255, 255, 255);

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#pBio,
#h1 {
  margin: 0% auto;
  text-align: center;
}

#formulario {
  height: 80%;
  color: white;
}

form {
  height: 100%;
  width: 100%;
}

#atras {
  margin: 0% auto;
;
  width: 15%;
  height: 30%;
}

a{
  color: white;
  background-color: rgb(247, 1, 1);
  text-align: center;
  border-radius: 100%;
  text-decoration: none
}
