
#divPrincipal {

  margin: 0 auto;
  width: 90%;
}
a {
  background: rgb(247, 2, 2);
  border-radius: 100%;
  color: black;
}

.header {
  display: flex;
  margin: 0 auto;
  width: 80%;
  align-items: center;
  justify-content: center;
 
}

#parrafoConFoto {
  display: flex;
  
}



html {
  height: 100%;
}
body {
  background-color: white;
  background-image: url("/png/wallpaperbetter.com_1360x768.jpg");
  min-height: 100%;

}

/* .bioPal {
  border: 20px blue;
  border-style: ridge;
} */

#atras {
  margin: 0% auto;
  background-color: rgb(247, 1, 1);
  text-align: center;
  border-radius: 100%;
  text-decoration: none;
  width: 15%;
  height: 30%;
  
}

#parrafito1{
  color: white;
}
#h12 {
  color: aliceblue;
}

#h1 {
  box-shadow: 0 0 15px 10px red;
  border-radius: 10px 10px ;
  color: rgb(255, 255, 255);
 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#pBio,
#h1 {
  margin: 0% auto;
  text-align: center;
}

#formulario {
 margin: 0 auto;
 width: 50%;
color: white;
background-color:transparent; 
 
}
