.ppal div {
  background: lightblue;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

/* .bioPal {
  border: 20px blue;
  border-style: ridge;
} */

#atras {
  margin: 0% auto;
  background-color: blue;
  text-align: center;
  border-radius: 100%;
  text-decoration: none;
  width: 30%;
  height: 30%;
}


#pBio, #h1{
  margin: 0% auto;
  text-align: center;

}

/* PORTFOLIO*/
/* CONTACTO*/
